[{:block/name "### what is forgivness?",
  :block/created-at 1640328326522,
  :block/updated-at 1640328326522}
 {:block/name "0",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "0. preface",
  :block/created-at 1639990606049,
  :block/updated-at 1639990606049}
 {:block/name "1",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "1. mind - spirit",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "1. what is forgiveness?",
  :block/created-at 1640328326522,
  :block/updated-at 1640328326522}
 {:block/name "10. what is the last judgment?",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "11. what is creation?",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "12. what is the ego?",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "13. what is a miracle?",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "14. what am i?",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "2",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "2. the separation and the atonement",
  :block/created-at 1639990606049,
  :block/updated-at 1639990606049}
 {:block/name "2. what is salvation?",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "2. who are their pupils?",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "29. as for the rest...",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "3. what is the world?",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "4. what is sin?",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "5. what is the body?",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "6. what is the christ?",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "61c045d1-31d6-476b-8080-2223040d24f8",
  :block/created-at 1640328326522,
  :block/updated-at 1640328326522}
 {:block/name "61c55915-45ab-4963-b969-9c8223b33ea8",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "61c55946-79d5-49d3-a7d7-c506f0b1cf16",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "7. what is the holy spirit?",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "8. what is the real world?",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "8. what is the real world?]",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "9. what is the second coming?",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "a",
  :block/created-at 1639990606049,
  :block/updated-at 1639990606049}
 {:block/name "a course in miracles - manual for teachers",
  :block/created-at 1640078838292,
  :block/updated-at 1640324284751}
 {:block/name "a course in miracles - text",
  :block/created-at 1639991250406,
  :block/updated-at 1640325246100}
 {:block/name "a course in miracles - workbook",
  :block/created-at 1640212508519,
  :block/updated-at 1640325325978}
 {:block/name "a map of miracles",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "acim-text",
  :block/created-at 1640328326522,
  :block/updated-at 1640328326522}
 {:block/name "atonement",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "b",
  :block/created-at 1639990606049,
  :block/updated-at 1639990606049}
 {:block/name "believe",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "c",
  :block/created-at 1639990606049,
  :block/updated-at 1639990606049}
 {:block/name "capitulo 1 - el significado de los milagros",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "card",
  :block/created-at 1639990606049,
  :block/updated-at 1639990606049}
 {:block/name "certainty",
  :block/created-at 1640328326522,
  :block/updated-at 1640328326522}
 {:block/name "chapter 1 - the meaning of miracles",
  :block/created-at 1640328326522,
  :block/updated-at 1640328326522}
 {:block/name "chapter 10 - the idols of sickness",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "chapter 2 - the separation and the atonement",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "chapter 3 - the innocent perception",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "chapter 4 - the illusions of the ego",
  :block/created-at 1640328326522,
  :block/updated-at 1640328326522}
 {:block/name "chapter 5 - healing and wholeness",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "chapter 6 - the lessons of love",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "chapter 7 - the gifts of the kingdom",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "chapter 8 - the journey back",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "chapter 9 - the acceptance of the atonement",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "clarification",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "clarification of terms",
  :block/created-at 1640080889163,
  :block/updated-at 1640080968638}
 {:block/name "clarification of terms - introduction",
  :block/created-at 1640080992762,
  :block/updated-at 1640324609450}
 {:block/name "consistent",
  :block/created-at 1640328326522,
  :block/updated-at 1640328326522}
 {:block/name "contents",
  :block/created-at 1639990606049,
  :block/updated-at 1640324850415}
 {:block/name "ct-intro",
  :block/created-at 1640328326522,
  :block/updated-at 1640328326522}
 {:block/name "curriculum",
  :block/created-at 1640328326522,
  :block/updated-at 1640328326522}
 {:block/name "decide",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "doing",
  :block/created-at 1639990606049,
  :block/updated-at 1639990606049}
 {:block/name "done",
  :block/created-at 1639990606049,
  :block/updated-at 1639990606049}
 {:block/name "dreams",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "ego",
  :block/created-at 1640324464071,
  :block/updated-at 1640324477217}
 {:block/name "english",
  :block/created-at 1640328326522,
  :block/updated-at 1640328326522}
 {:block/name "epilogue",
  :block/created-at 1640325340742,
  :block/updated-at 1640325356434}
 {:block/name "esp",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "esp.",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "exception",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "favorites",
  :block/created-at 1639990606049,
  :block/updated-at 1639990606049}
 {:block/name "framework",
  :block/created-at 1640328326522,
  :block/updated-at 1640328326522}
 {:block/name "french ",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "french / francais",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "gary renard",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "helen schucman",
  :block/created-at 1640328326522,
  :block/updated-at 1640328326522}
 {:block/name "i",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "i can be hurt by nothing but my thoughts.",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "i. principios de los milagros",
  :block/created-at 1640328326522,
  :block/updated-at 1640328326522}
 {:block/name "ii. la revelación, el tiempo y los milagros",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "in-progress",
  :block/created-at 1639990606049,
  :block/updated-at 1639990606049}
 {:block/name "interfere",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "introducción",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "introduction to lessons 181-200",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "italian ",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "italian / italiano",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "ken wapnick",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "l92",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "later",
  :block/created-at 1639990606049,
  :block/updated-at 1639990606049}
 {:block/name "lesson 110: i am as god created me.",
  :block/created-at 1640328326522,
  :block/updated-at 1640328326522}
 {:block/name "lesson 111: review lessons 91-92",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "lesson 151: all things are echoes o the voice for god.",
  :block/created-at 1640328326522,
  :block/updated-at 1640328326522}
 {:block/name
  "lesson 151: all things are echoes of the voice for god.",
  :block/created-at 1640213786421,
  :block/updated-at 1640213786421}
 {:block/name "lesson 152: the power of decision is my own.",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "lesson 170: there is no cruelty in god and none in me.",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "lesson 171: review lessons 151-152",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "lesson 180: review lessons 169-170",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "lesson 181: i trust my brothers, who are one with me.",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "lesson 1: nothing i see means anything.",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "lesson 200: there is no peace except the peace of god.",
  :block/created-at 1640328326522,
  :block/updated-at 1640328326522}
 {:block/name "lesson 201: review lesson 181",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "lesson 220: review lesson 200",
  :block/created-at 1640328326522,
  :block/updated-at 1640328326522}
 {:block/name
  "lesson 221: peace to my mind. let all my thoughts be still.",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "lesson 230: now will i seek and find the peace of god.",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "lesson 231: father, i will but to remember you.",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "lesson 240: fear is not justified in any form.",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "lesson 241: this holy instant is salvation come.",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "lesson 250: let me not see myself as limited.",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "lesson 251. i am in need of nothing but the truth.",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "lesson 260: let me remember god created me.",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "lesson 261: god is my refuge and my security.",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "lesson 270: i will not use the body's eyes today.",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "lesson 271: christ's is the vision i will use today.",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "lesson 280: what limits can i lay upon god's son?",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "lesson 290: my present happiness is all i see.",
  :block/created-at 1640328326522,
  :block/updated-at 1640328326522}
 {:block/name "lesson 291: this is a day of stillness and of peace.",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name
  "lesson 2: i have given everything i see...all the meaning that it has for me.",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "lesson 300: only an instant does this world endure.",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "lesson 301: and god himself shall wipe away all tears.",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "lesson 310: in fearlessness and love i spend today.",
  :block/created-at 1640328326522,
  :block/updated-at 1640328326522}
 {:block/name
  "lesson 311: i judge all things as i would have them be.",
  :block/created-at 1640328326522,
  :block/updated-at 1640328326522}
 {:block/name "lesson 320: my father gives all power unto me.",
  :block/created-at 1640328326522,
  :block/updated-at 1640328326522}
 {:block/name "lesson 321: father, my freedom is in you alone.",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "lesson 330: i will not hurt myself again today.",
  :block/created-at 1640328326522,
  :block/updated-at 1640328326522}
 {:block/name
  "lesson 331: there is no conflict, for my will is yours.",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "lesson 340: i can be free of suffering today.",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "lesson 341: i can atack but my own sinlessness",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name
  "lesson 341: i can attack but my own sinlessness, and it is only that which keeps me safe.",
  :block/created-at 1640321422302,
  :block/updated-at 1640321422302}
 {:block/name
  "lesson 350: miracles mirror god's eternal love. to offer them is to remember him, and through his memory to save the world.",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name
  "lesson 351: my sinless brother is my guide to peace. my sinful brother is my guide to pain. and which i choose to see i will behold.",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name
  "lesson 360: peace be to me, the holy son of god. peace to my brother, who is one with me. let all the world be blessed with pace through us.",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "lesson 50: i am sustained by the love of god.",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name
  "lesson 80: let me recognise my problems have been solved.",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "lesson 81: review lessons 61 - 62",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "lesson 90: review lessons 79 - 80",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "lesson 91: miracles are seen in light.",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "lesson 92",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name
  "lesson 92: iracles are seen in light, and light and strength are one.",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name
  "lesson 92: miracles are seen in light, and light and strength are one.",
  :block/created-at 1640213052801,
  :block/updated-at 1640213473743}
 {:block/name "lessons",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name
  "lessons 361-365: this holy instant would i give to you. be you in charge. for i would follow you, certain that your direction gives me peace.",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "lessons; workbook",
  :block/created-at 1640328326522,
  :block/updated-at 1640328326522}
 {:block/name "limits",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "little willingness",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "love has forgotten no one",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "manual",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "manual - introduction",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "manual for teachers",
  :block/created-at 1640328326522,
  :block/updated-at 1640328326522}
 {:block/name "miracles",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "now",
  :block/created-at 1639990606049,
  :block/updated-at 1639990606049}
 {:block/name "opposite",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "perception",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "portuguese",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "portuguese ",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "portuguese / portugûes",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "portugûes",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "preface",
  :block/created-at 1640078557224,
  :block/updated-at 1640325283469}
 {:block/name "psychotherapy: principles, purpose, practice",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "question",
  :block/created-at 1640328326522,
  :block/updated-at 1640328326522}
 {:block/name "questions to myself",
  :block/created-at 1639990606049,
  :block/updated-at 1639990606049}
 {:block/name "resist",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "song of prayer",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "span",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "spanish",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "spanish ",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "spanish / español",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "symbol",
  :block/created-at 1640328326522,
  :block/updated-at 1640328326522}
 {:block/name "symbolic",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "symbols",
  :block/created-at 1640324487986,
  :block/updated-at 1640324497695}
 {:block/name "table of contents",
  :block/created-at 1639990606049,
  :block/updated-at 1639990606049}
 {:block/name "tasks to do & questions to answer",
  :block/created-at 1640328326522,
  :block/updated-at 1640328326522}
 {:block/name "teaching",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "terms",
  :block/created-at 1640328326522,
  :block/updated-at 1640328326522}
 {:block/name "terms-intro",
  :block/created-at 1640328326522,
  :block/updated-at 1640328326522}
 {:block/name "text",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "the course",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "the disappearance of the universe",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "the ego",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "the lifetimes when jesus and buddha knew each other",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "theoretical framework",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "todo",
  :block/created-at 1639990606049,
  :block/updated-at 1639990606049}
 {:block/name "transfer",
  :block/created-at 1640328326522,
  :block/updated-at 1640328326522}
 {:block/name "translations",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "true perception",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "ucdm",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "um curso em milagres",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "un cours en miracle",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "un curso de milagros",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "uncertainty",
  :block/created-at 1640081358446,
  :block/updated-at 1640081393067}
 {:block/name "undoing",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "untrained mind",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "wait",
  :block/created-at 1639990606049,
  :block/updated-at 1639990606049}
 {:block/name "waiting",
  :block/created-at 1639990606049,
  :block/updated-at 1639990606049}
 {:block/name "william thetford",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "workbook",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "workbook - introduction",
  :block/created-at 1640322841825,
  :block/updated-at 1640323961715}
 {:block/name "workbook-epilogue",
  :block/created-at 1640328326522,
  :block/updated-at 1640328326522}
 {:block/name "workbook: final lessons - introduction",
  :block/created-at 1640328326522,
  :block/updated-at 1640328326522}
 {:block/name "workbook: part ii - introduction",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "workbook: review 1 - introduction",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "workbook: review 2 - introduction",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "workbook: review iii - introduction",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "workbook: review iv - introduction",
  :block/created-at 1640328326522,
  :block/updated-at 1640328326522}
 {:block/name "workbook: review v - introduction",
  :block/created-at 1640328326522,
  :block/updated-at 1640328326522}
 {:block/name "workbook: review vi - introduction",
  :block/created-at 1640328326521,
  :block/updated-at 1640328326521}
 {:block/name "your immortal reality",
  :block/created-at 1640328326522, 
  :block/updated-at 1640328326522}]
